{% extends 'base.html' %}
{% block title %}
  About
{% endblock %}
{% block header %}
  <link rel="stylesheet" href="/static/css/aboutStyle.css" />
{% endblock %}

{% block body %}
  <body><div style="background-color: gray; color: black;">
    <br /><p align="center">About the Website:</p><br />
  </div><br />
<p style="text-align: center;">Developed during the month of July, 2023. The website implements various Technologies including: Machine Learning (TensorFlow, Keras), Django framework, Web Development, Languages including: Pythonl, HTML, CSS, JavaScript</p>
  <br />
    <div style="background-color: gray; color: black;">
      <br /><p align="center">About the creators:</p><br />
    </div><br />
    <div class="grid">
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?lion" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">Ali Haider Khan</h2>
            </div>
            <p class="card-text">
              Student, 4th Year, B.Tech. CSE <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">LinkedIn</a> <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">GitHub</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?cheetah" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">Tanveer Singh</h2>
            </div>
            <p class="card-text">
              Student, 4th Year, B.Tech. CSE <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">LinkedIn</a> <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">GitHub</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?tiger" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">Ratnakar Sharma</h2>
            </div>
            <p class="card-text">
              Student, 4th Year, B.Tech. CSE <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">LinkedIn</a> <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">GitHub</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?bird" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">Navneet Kaur</h2>
            </div>
            <p class="card-text">
              Student, 4th Year, B.Tech. CSE <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">LinkedIn</a> <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">GitHub</a>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?kid" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">Tashu Bansal</h2>
            </div>
            <p class="card-text">
              Student, 4th Year, B.Tech. CSE <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">LinkedIn</a> <br /><br />
              <a href="" target="_blank" style="color: white; text-decoration: underline; font-size: small;">GitHub</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </body>
{% endblock %}
