{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block header %}
  <link rel="stylesheet" href="/static/css/indexStyle.css" />
{% endblock %}

{% block body %}
  <body>
    <div style="background-color: gray; color: black;">
      <br /><p align="center">
        About the website:
      </p><br />
    </div><br /><br />
    <div class="grid">
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?potato" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">Potat-hoes</h2>
            </div>
            <p class="card-text"><a href="https://www.linkedin.com/feed/?trk=homepage-basic_google-one-tap-submit">LinkedIn</a></p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?Apple" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">App-Hells</h2>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eligendi obcaecati odio, veritatis dicta sequi velit ipsa suscipit ea vitae, sed fuga rerum, officia est necessitatibus? Ab repudiandae magni qui.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?oranges" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">ORanges</h2>
            </div>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, tempore suscipit voluptas soluta repudiandae reprehenderit ut autem corrupti consectetur rerum quae quaerat optio dolores quod blanditiis, eligendi at nam eveniet.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?carrot" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">ORanges</h2>
            </div>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, tempore suscipit voluptas soluta repudiandae reprehenderit ut autem corrupti consectetur rerum quae quaerat optio dolores quod blanditiis, eligendi at nam eveniet.</p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="https://source.unsplash.com/200x200/?veggies" alt="Potatoesssss" />
          <div class="card-content">
            <div class="card-content">
              <h2 class="card-header">ORanges</h2>
            </div>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, tempore suscipit voluptas soluta repudiandae reprehenderit ut autem corrupti consectetur rerum quae quaerat optio dolores quod blanditiis, eligendi at nam eveniet.</p>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </body>
{% endblock %}
