<h2>Upload an Image</h2>
<!-- Image Upload Form -->
<input type="file" accept="image/*" id="imageInput">
<button onclick="createImage(event)">Submit</button>


<script>
  const imageEndpoint = 'http://127.0.0.1/detection/create'

  const createImage = async (event) => {
    event.preventDefault()
    const imageInput = document.querySelector('#imageInput')
    let image = imageInput.files[0]
    let formData = new FormData()

    formData.append('img_path', image)
    formData.append('plant_type', 'Potato')
    const access = localStorage.getItem('access_token')

    let newImage = await fetch(imageEndpoint,  {
      headers: {Authorization: 'Bearer ' + access},
      method: 'POST',
      body: formData
    }).then(response => response.json()).catch(error => { console.error(error) })

  }

</script>   