<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sign Up Form | PlantDiseaseDetector</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="title">Sign Up</div>
      <form action="#">
        <div class="field">
          <input type="text" required />
          <label>Name</label>
        </div>
        <div class="field">
          <input type="text" required />
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="number" required />
          <label>Phone Number</label>
        </div>
        <div class="field">
          <input type="password" required />
          <label>Password</label>
        </div>
        <div class="field">
          <input type="submit" value="Login" />
        </div>
        <div class="signup-link">
          Already a member? <a href="/templates/SigninSignup/signin.html">Log in</a>
        </div>
      </form>
    </div>
  </body>
</html>
