<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} | CropDiseaseDetector</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script > 
        const loginUrl = "{% url 'website:login' %}";
        const tokenRefresh = "{% url 'account:token_refresh' %}";
    </script>
    <script type="text/javascript" src="/static/js/authorization.js"></script>
    {% block header %}
    
    {% endblock  %}
    
</head>

<body>
    <div class="navbar">
        <header class="navi">
            <nav>
                <ul class="nav__links">
                    <li class="navi"><a href="{%url 'website:home' %}" class="navi">Home</a></li>
                    <li class="navi"><a href="{%url 'website:detection' %}" class="navi">CropDiseaseAI</a></li>
                    <li class="navi"><a href="{%url 'website:about' %}" class="navi">About</a></li>
                </ul>
            </nav>
            <nav>
                <a class="cta" href="#"><button style="color: white;" class="navi">Profile</button></a>
                <!-- <a class="cta" href="#"><button
                        style="color: white;background-color: rgba(227, 3, 3, 0.997);" class="navi">Logout</button></a> -->
            </nav>
        </header>
    </div>
    
    {% block body %}
    
    {% endblock %}
</body>

</html>